@import '../../styles/variables'
@import '../../styles/animation'

.loading
  width: 2rem;
  height: 2rem;
  border: 3px solid $blue
  border-top-color: transparent
  border-radius: 50%
  animation: circle infinite .5s linear
