@import '../../styles/variables'
@import '../../styles/animation'

.wrap
  display: flex
  height: "calc(100vh - %s)" % $topBarHeight
  justify-content: center
  align-items: center
@media (max-width: $mobileMaxWidth)
  .wrap
    height: 100%

.form
  width: 20rem
  margin: auto
  padding: 3rem 0
  font-size: 16px

.fieldWrap
  margin-bottom: 1rem

.shake
  animation-name: shake
  animation-duration: 0.5s
  animation-fill-mode: both
