
@keyframes shake
  from, to
    transform: translate3d(0, 0, 0)
  10%,50%,90%
    transform: translate3d(-10px, 0, 0)
  30%,70%
    transform: translate3d(10px, 0, 0)

@keyframes circle
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)
