// Colors
$baseBgColor = #fafafa
$baseTextColor = hsl(0,0%,6.7%)
$accentColor = #1da1f2
$inputBorderColor = #ccd0d7
$inputPlaceholderColor = $grey
$breakLineColor = #f5f5f5

$successColor = $green
$warningColor = $yellow
$errorColor = $pink
$infoColor = $blue

$blue = #1da1f2
$black = #000000
$pink = #f680c7
$yellow = #F7A601
$red = #FE452C
$green = #80AE54
$white = #ffffff
$grey = #657786

$baseFont = Roboto, Arial, "LiHei Pro", "Microsoft Yahei", STHeiti, sans-serif
$baseFontSize = 14px

$mobileMaxWidth = 32rem

$topBarHeight = 3.5rem
$topBarBgColor = #ffffff
