@import '../../styles/variables'

common()
  height: 3rem
  line-height: 3rem
  color: $white
  text-indent: 1rem
  font-weight: bold
  border-radius: 5px

.success
  common()
  background-color: $successColor

.warning
  common()
  background-color: $warningColor

.info
  common()
  background-color: $infoColor

.error
  common()
  background-color: $errorColor
